.container-task {
    width: 80%;
    min-width: 300px;
    height: 50px;
    background-color: #2d8f66;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 10px;
    padding: 0 20px;
    border-radius: 10px;
}

.inputCheck {
    width: 25px;
    height: 25px;
}

.textList {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    text-align: justify;
}

.clean {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #aa1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255, 0.2);
}